.img_wrapper {
  align:center;
}

.img_wrapper1, .img_wrapper2 {
  display:inline-block;
  margin-right: 35px;
}

.img_wrapper3 {
  display:inline-block;
}

.img_description1, .img_description2, .img_description3 {
  top: 0px;
  bottom: 0;
  left: 0;
  right: 0;
  visibility: hidden;
  opacity: 0;

  /* transition effect. not necessary */
  transition: opacity .2s, visibility .2s;
}

.img_wrapper1:hover .img_description1 {
  visibility: visible;
  opacity: 1;
}

.img_wrapper2:hover .img_description2 {
  visibility: visible;
  opacity: 1;
}

.img_wrapper3:hover .img_description3 {
  visibility: visible;
  opacity: 1;
}

.no_task {
  font-size: 25px;
  margin: 30px;
  align-content: center;
}

.first_row {
  height: 80px;
  outline: 1px #666 solid;
}

.input_segment input[type="text"]:not(:focus) {
  color: #999 !important;
}

/* .input_segment input[type="text"]:focus {
  color: #000 !important;
} */
